/* Contenedor del menú de opciones */
.menu-options {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 1000px; /* Aumentado de 900px a 1000px */
  gap: 30px;
  position: relative; /* Necesario para el pseudo-elemento de la ola */
  padding: 20px;
  border-radius: 20px; /* Opcional, para bordes redondeados */
  border: 4px solid #FF6F61; /* Borde del contenedor */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); /* Sombra del contenedor */
  background-color: #ffffff; /* Fondo blanco */
  z-index: 1; /* Asegura que el contenedor esté por encima de la ola */
}

/* Menú de opciones */
.menu-item {
  flex: 1;
  display: flex;
  justify-content: center;
}

/* Botón del menú */
.menu-button {
  width: 100%;
  max-width: 180px;
  padding: 25px;
  border: 3px solid #FF6F61;
  border-radius: 10px;
  background-color: #ffffff;
  color: #FF6F61;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease;
}

.menu-button:hover {
  background-color: #FF6F61;
  color: #ffffff;
}

/* Estilo del texto en el botón */
.menu-button span {
  margin-top: 10px;
  font-size: 14px;
  font-weight: bold;
}

.background-container {
  background-image: url('../img/fondo1.png'); /* Ruta a la imagen de fondo */
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 85 vh; /* Asegura que el fondo cubra toda la altura de la ventana */
  display: flex;
  justify-content: center;
  align-items: center;
}
